.sprava {
    border: 1px solid #9DC2F8;
    background: #21abc7;
    // padding: 3px;
    text-align: center;
    width: 100%;
    clear: both;
    color: white;
}
body {
    // background: red; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(white, black); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(white, black); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(white, black); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(white, black); /* Standard syntax */
    background:  white;
    //font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-family:  Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    line-height: 1.42857143;
    color: #333;
}

#hlavicka {
    border-bottom: 1px solid #aebdc1; 
    background: #f6f8f8;
    // text-shadow: 4px 2px 0 #777;
    height: 70px;
    width: 100%;
    font-size: 50px;
    //letter-spacing: 20px;
    padding-top: 10px;
    padding-bottom:  10px;
    
}
#triOkna {
    //border: 0px solid black;
    height: 100%;
    width: auto;
}
#administracia {
    background: white;
    border: 0px solid black;
    height: auto;
    width: auto;
    text-align: right;
    padding-right: 20px;
}

#navigacia{
    background: white;
    border: 0px solid black;
    height: auto;
    width: auto;
    text-align: left;
    padding-left:  20px;
}

#prveOkno{
    //tien boxu
    // -webkit-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre webkit jadro Safari a Chrome*/
    // -moz-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre gecko jadro Firefoxu*/
    // box-shadow: 1px 2px 10px 0px #444444;/* CSS3 definícia pre všetky prehliadače */
    float:left;
    width:8%;
    min-height: 500px;
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
}

#druheOkno {
    //border: 1px solid black;
    border-style:   outset;
    min-height: 500px;
    width:46%;
    float:left;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    text-align: left;
}

#tretieOkno{
    float:left;
    width:32%;
    min-height: 500px;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
}

#editor{ 
    //background: #C5CAE9;
    //border: 0px solid black;
    //border-style: outset;
    padding-top: 15px;
    text-align: center;
}

#pata {
    border: 0px solid #6f90ba;
    clear: both;
    //width: 100%;
    //padding: 10px ;
    text-align: right;
}

#chyba{
    //border: 1px solid black;
    padding: 30px 30px 30px 30px;
    min-height: 500px;
    width:100%;
    float:left; 
    text-align: center;

}

#registracia, #prihlasenie{
    padding: 10px 10px 10px 10px;
    min-height: 500px;
    width:100%;
    text-align: center;
    line-height: 50px;
    background: white;
}

#uvod{
    //border: 1px solid black;
    width: 100%; 
    margin: 0px; 
    padding: 0px;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-image: url(pozadie.jpg);
    opacity:0.8;
    background-size:  cover;
   //background-attachment:  fixed;
}

.tlacidlo_uvod:link, .tlacidlo_uvod:visited{
    text-decoration: none;
    border: 0px solid white;
    color: white;
    border-radius: 100px;
    margin-left:70%;
    margin-top:5%;
    display: inline-block;
    font-size: 120%;
    line-height: 3;
    padding: 0 2.5em;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    background-color: #333;
}

.tlacidlo_uvod:hover{
    background-color: #1c91a8;

}

a.tlacidlo_blik:link, a.tlacidlo_blik:visited{
    text-decoration: none;
    border: 1px solid #5dbb6c;
    color: #5dbb6c;
    border-radius: 100px;
    text-align: center;
    margin: 4px 4px 4px 4px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
    font-size: 75%;
    line-height: 3;
    padding: 0 2.5em;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;


}
a.tlacidlo_blik:hover{
    text-decoration: none;
    background-color: #48ac58;
    border-color: #48ac58;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    margin: 4px 4px 4px 4px;
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
    font-size: 75%;
    line-height: 3;
    padding: 0 2.5em;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.formular_vstup{
    border-radius: 3px;
    border: 1px solid #aebdc1;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.625em;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    width: 100%;
}

.potvrdzovacie_tlacidlo{
    text-decoration: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 75%;
    line-height: 3;
    padding: 0 2.5em;
    background-color: #21abc7;
    border: 1px solid #21abc7;
    color: #fff;
    border-radius: 100px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
}

.potvrdzovacie_tlacidlo:hover{
    background-color: #1c91a8;
    border-color: #1c91a8;
    color: #fff;

}

.sive_pismo{
    color:#aebdc1;
   
}

.modry_odkaz{
    color: #21abc7;
     background: none;
     border: none;
    
}

.modry_odkaz:hover{
    color: #167385;
}