.sprava {
    border: 1px solid #9DC2F8;
    background: #DBE8F8;
    // padding: 3px;
    text-align: center;
    width: 100%;
    clear: both;
}
body {
    // background: red; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(white, black); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(white, black); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(white, black); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(white, black); /* Standard syntax */
    background:  white;
    font-family: "Comic Sans MS CE", "Arial CE", "Sand CE", "Helvetica CE", "Comic Sans MS", lucida, fantasy;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}
#domov{
    //border: 1px solid #6f9177;
    float:left;
    width: 7%;
    height: 70px;
    padding-top: 10px;
    background:  #01579B;

}
#hlavicka {
    // border: 0px solid #6f9177; 
    float:right;
    background:  #01579B;
    text-shadow: 4px 2px 0 #777;
    height: 70px;
    width: 93%;
    text-align: left;
    font-size: 50px;
    letter-spacing: 20px;
    padding-top: 10px;
}
#triOkna {
    //border: 0px solid black;
    height: 100%;
    width: auto;
}
#administracia {
    background: white;
    border: 0px solid black;
    height: auto;
    width: auto;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 20px;
    font-weight: bold;

}

#navigacia{
    background: white;
    border: 0px solid black;
    height: auto;
    width: auto;
    text-align: left;
    padding-bottom: 3px;
    padding-left:  20px;
}

#prveOkno{
    // background: #C5CAE9;
    //border-style: outset;
    //tien boxu
    // -webkit-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre webkit jadro Safari a Chrome*/
    // -moz-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre gecko jadro Firefoxu*/
    // box-shadow: 1px 2px 10px 0px #444444;/* CSS3 definícia pre všetky prehliadače */

    float:left;
    width:8%;
    min-height: 500px;
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
}

#druheOkno {
    background: #C5CAE9;
    //border: 1px solid black;
    border-style: outset;
    //tien boxu
    //-webkit-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre webkit jadro Safari a Chrome*/
    //-moz-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre gecko jadro Firefoxu*/
    //box-shadow: 1px 2px 10px 0px #444444;/* CSS3 definícia pre všetky prehliadače */

    min-height: 500px;
    width:46%;
    float:left;
    //text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    text-align: left;
}

#tretieOkno{
    // background: #C5CAE9;
    //border: 1px solid black;
    // border-style: outset;

    //tien boxu
    // -webkit-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre webkit jadro Safari a Chrome*/
    //-moz-box-shadow: 1px 2px 10px 0px #444444;/* definícia pre gecko jadro Firefoxu*/
    //box-shadow: 1px 2px 10px 0px #444444;/* CSS3 definícia pre všetky prehliadače */
    float:left;
    width:32%;
    min-height: 500px;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
}

#editor{ 
    background: #C5CAE9;
    //border: 0px solid black;
    border-style: outset;
    padding-top: 15px;
}

#pata {
    // background: #E8EAF6;
    border: 0px solid #6f90ba;
    clear: both;
    width: auto;
    height: auto;
    padding: 15px ;
    text-align: right;
}

#chyba{
    //background: white;
    //border: 1px solid black;
    padding: 30px 30px 30px 30px;
    min-height: 500px;
    width:100%;
    float:left; 
    text-align: center;

}

#registracia{
    //background: white;
    //border: 1px solid black;
    padding: 10px 10px 10px 10px;
    min-height: 500px;
    width:100%;
    //float:left; 
    text-align: center;
}

#uvod{
    //background: white;
    //border: 1px solid black;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
    min-height: 500px;

}


a.tlacidlo_blik:link,a.tlacidlo_blik:visited{
    text-decoration: none;
    color:black;
    text-align: center;
    margin: 4px 4px 4px 4px;
    padding: 3px 3px 3px 3px;
}
a.tlacidlo_blik:hover{
    text-decoration: none;
    background: #8C9EFF;
    border-radius: 3px;
    color:white;
    text-align: center;
    margin: 4px 4px 4px 4px;
    padding: 3px 3px 3px 3px;
    transition: background-color 500ms ease;
}

a.tlacidlo_farebne:link,a.tlacidlo_farebne:visited{
    text-decoration: none;
    border-radius: 3px;
    color:black;
    background: #C5CAE9;
    text-align: center;
    margin: 4px 4px 4px 4px;
    padding: 3px 3px 3px 3px;
}
a.tlacidlo_farebne:hover{
    text-decoration: none;
    background: #01579B;
    border-radius: 3px;
    color:white;
    text-align: center;
    margin: 4px 4px 4px 4px;
    padding: 3px 3px 3px 3px;
    transition: background-color 500ms ease;
}

a.nadpis:link,a.nadpis:visited {
    text-decoration: none; 
    color:white;
}



// farby obycajneho odkazu
a:link    {color: black}
a:visited    {color: black}
a:active    {color: black}
a:hover    {color: orange} //link cez ktory sa prechadza